$primary-color: #444;
$secondary-color: #FFA500 ;
$show-home-image: true;
$home-image: url("../image/bg.jpeg");
$background-opacity: 0.9;

@mixin easeOut{
    transition: all 0.7s ease-out;
}

@mixin background{
    @if $show-home-image{
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
        
            
            &:after{ //The overlay class was converted to a pseudo element :after
                //The pseudo element 'after' is not an actual html element, but the css treats as an actual element thas after-
                //- bg-img element
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
        
        
    }
}

//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width:500px){
//This means that, any css given in this block will only apply if the screen is-
//- 500px(the dimension specified in the media query) or less
    @content; //==> Makes this mixin available to be used with other files 
    //No CSS content will be added here. Anyother content added into this mixin may be added using the mixin name
    //- which will automatically put in here, through the content
    }
}

@mixin mediaSm{
    @media screen and (max-width:500px){
        @content;
    }
}

@mixin mediaMd{
    @media screen and (max-width:768px){
        @content;
    }
}
@mixin mediaLg{
    @media screen and (min-width:769px) and (max-width:1170px){
        @content;
    }
}
@mixin mediaXl{
    @media screen and (min-width:1171px){
        @content;
    }
}
