@import 'config';
@import 'menu';

*{
    box-sizing: border-box
}

body{
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3{
    margin: 0;
    font-weight: 400;

    &.lg-heading{ //=> is same as h1.lg-heading, same applies to h2 and h3
        font-size: 6vw;
    }
    &.sm-heading{
        font-size: 2vw; 
        padding: 0.2rem 1rem;
        // height: 7px;
        // width: 50px;
        // padding-bottom: 10px;
        background: rgba(lighten($primary-color, 2), 0.5);
        -webkit-border-radius:  7px;
    }
}

a{
    color: white;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
#contact{
    min-height: calc(100vh-60px);
}
main{
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh-60px);//the entire view port height - height of the footer
    //This is to make the footer sticky and stay at the bottom, at any case even if the element above it is removed
    
    .icons{
        margin-top: 1rem;
        padding-top: 30px;

        a{
            padding: 0.4rem;  
            &:hover{
                color: $secondary-color;
                @include easeOut(); 
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;//vh - viewport height
        }
    }
}

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'//The spacinf alloated for the html elememts 1 frame for image and 2 for bio
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image{
    background: url("../image/ppsmn.jpg");
    //grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    }
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    .job1{
        grid-area: job-1;
    }
    .job2{
        grid-area: job-2;
    }
    .job3{
        grid-area: job-3;
    }
    
    .job{
        background: lighten($primary-color,5);
        padding: 0.5rem;
        border-bottom: $secondary-color solid 5px;
    }
    .empl{
        background: lighten($primary-color, 4);
        color: #fff;
        padding: 1rem;
        margin: 0;

    }
    .pos{
        background: lighten($primary-color,7);
        padding: 3px;
        border-bottom: lighten(#B6D8FE,5);
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
//Work/Projects
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    img{
        width: 100%; 
        border: 2px solid white;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}
//Contact Page
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px white solid;
        padding: 0.7rem 1rem;
        margin-bottom: 3rem;
        @include easeOut;
         -webkit-border-radius: 7px;
        // -moz-webkit: border radius 7;
        // -ms-webkit: border radius 7;
        // -o-webkit: border radius 7;
        //webkit: border radius 7px

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}
//Button Styles
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}
.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
    
}
.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}
#main-footer{
    text-align: center;
    padding: 1rem; 
    background:darken($primary-color, 10); 
    color: set-text-color($primary-color);
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@import 'mobile';//This is to make the media queries to be executed after all the css has been executed